# Terraform
**/.terraform/*
.terraform*
*.tfstate
*.tfstate.*
*.tfstate.backup

# Sensitive files
personal.auto.tfvars
terraform.tfvars
*.auto.tfvars
!*.auto.tfvars.example
!*.tfvars_example

# Ansible
inventory.ini
*.cfg

# SSH keys
*.pem
*.key
*.json

# IDE
.idea/
.vscode/

# terraform-docs binary
terraform-docs
terraform-docs.tar.gz

# terraform-docs
terraform-docs
terraform-docs.tar.gz
